<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

</head>

<body>

    <!--for dev -->


    <form action="" style="margin-top: 20px;">
        <button style="float: right;" class="pointer btn btn-info" type="button">Valider</button>

        <table>
            <tr>
                <td><button class="pointer btn btn-primary" type="button"
                        (click)="openListDialogComponent(this.mapDataClients,'clients')">
                        selectioné un clien</button></td>
                <td><mat-card>Code: {{IdClientcart}}</mat-card><br><mat-card>Nom: {{NomClient}}</mat-card></td>
                <td><mat-card>Solde: {{Solde}}</mat-card><br><mat-card>Adresse: {{Adresse}}</mat-card></td>

                <td><mat-card>Tel: {{NumClient}}</mat-card> <br><mat-card>Mat: {{Mat}}</mat-card></td>


            </tr>

            <tr>
                <td>
                    <input id="input10" class="pointer btn btn-primary" name="dateinput" matInput
                        [matDatepicker]="picker" [(ngModel)]="selectedDate" placeholder="{{selectedDate}}">
                    <mat-datepicker #picker></mat-datepicker>
                </td>
                <td> <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle> </td>
                <td>
                    <input type="text" class="pointer btn btn-primary" placeholder="destination" name="" id="">
                </td>
                <td>
                    <input type="text" class="pointer btn btn-primary" placeholder="vehicule" name="" id="">
                </td>
                <td>
                    <input type="text" class="pointer btn btn-primary" placeholder="chaffeur" name="" id="">
                </td>
            </tr>

        </table>



        <table class="table table-hover table-striped custom-table">

            <thead class="sticky-thead  ">

                <tr>

                    <th>ID</th>
                    <th>Nom</th>
                    <th>QNT</th>
                    <th>Dépôt</th>
                    <th>TVA</th>
                    <th>Prix de vend HT</th>
                    <th>Prix de vend TTC</th>
                    <th>total</th>
                    <th>img</th>
                    <th> <button class="pointer btn btn-primary button-hover input"
                            (click)="openListDialogComponent(this.mapDataProduits,'produits')">ajouter</button>

                    </th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ligne of tableauDonnees">
                    <td>{{ ligne.id }}</td>
                    <td>{{ ligne.nom }}</td>
                    <td>{{ ligne.qnt }}</td>
                    <td>{{ ligne.depot }}</td>
                    <td>{{ ligne.tva }}</td>
                    <td>{{ ligne.prixVendHT }}</td>
                    <td>{{ ligne.prixVendTTC }}</td>
                    <td>{{ ligne.total }}</td> 
                    <td>{{ligne.qnt}}</td>
                    <td> <img src="assets/img/produits/{{ligne.img }}.png" alt="Image"
                            onerror="this.onerror=null;this.src='assets/img/defaut.png';" width="100" height="100"></td>

                    <td>
                        <button style=" width: 84px;  padding-right: 5px;padding-left: 4px;"
                            class="pointer btn btn-warning input" type="button">Modifier</button>
                        <button _ngcontent-rke-c49="" type="button" class="pointer btn btn-default input"
                            style=" width: 84px;  padding-right: 5px;padding-left: 4px;">Historique</button>
                        <button style=" width: 84px;  padding-right: 5px;padding-left: 4px;"
                            class="pointer btn btn-danger input" type="button">Suprimer</button>
                    </td>

                </tr>

            </tbody>
        </table>

    </form>



</body>

</html>