<!--<select [(ngModel)]="selectedOption" (change)="filterData(selectedOption,searchText)" class=" pointer btn btn-primary input"name="" style="width: 100px;">
  <option value="id">ID</option>
  <option value="NomProduct" selected>Nom</option>
  <option value="Qnt">QNT</option>
  <option value="TVA">TVA</option>
  <option value="PrixVendHT">P.HT</option>
  <option value="PrixVendTTC">P.TTC</option>
  <option value="PrixAchatHT">P.HT</option>
  <option value="PrixAchatTTC">P.TTC</option>

</select> 
<input   value="" name="search"placeholder="Recherche" class="btn btn-primary blue-placeholder input" type="text" name="" 
  id="search" style="width: 110px;"[(ngModel)]="searchText" (input)="filterData(selectedOption,searchText)"> -->