app-sidebar {
  left: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  padding-left: 3%;
  z-index: 99999;
  
}

.testcss {
  position: absolute;
  left: 19%;
  padding-left: 5px;
  width: 81%;


}


.right {
  float: right;
}


