<div class="sidebar" data-color="blue" data-image="../assets/img/sidebar-5.jpg">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text">
               <b> S.E.M.C</b>
            </a>
        </div>
        <ul class="nav">
            <li>
                <a class="nav-link" [routerLink]="['/register']">
                    <i class="nc-icon nc-chart-pie-35"></i>
                    <p>Register</p>
                </a>
            </li>
            <li>
                <a class="nav-link" [routerLink]="['/login']">
                    <i class="nc-icon nc-circle-09"></i>
                    <p>Login</p>
                </a>
            </li>
            <li>
                <a class="nav-link"[routerLink]="['/list']" >
                    <i class="nc-icon nc-notes"></i>
                    <p>List Des Produit</p>
                </a>
          </li>
          <li>
            <a class="nav-link"[routerLink]="['/devis']" >
                <i class="nc-icon nc-notes"></i>
                <p>Devis</p>
            </a>
      </li>
            <li>
                <a class="nav-link" href="./typography.html">
                    <i class="nc-icon nc-paper-2"></i>
                    <p>Typography</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="./icons.html">
                    <i class="nc-icon nc-atom"></i>
                    <p>Icons</p>
                </a>
            </li>
            <li>
                <a  class="nav-link" [routerLink]="['/gps']">
                    <i class="nc-icon nc-pin-3"></i>
                    <p>GPS</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="./notifications.html">
                    <i class="nc-icon nc-bell-55"></i>
                    <p>Notifications</p>
                </a>
            </li>
           
              
           
        </ul>
    </div>
</div>