
<table class="table table-hover table-striped custom-table"  >
    <thead class="sticky-thead  ">
      
      <tr> 
        
        <th><input class="form-control" type="text" name="idFilter" id="id-Filter" placeholder="ID" [(ngModel)]="filtredId" (keyup)="filter()"></th>
        <th><input class="form-control" type="text" name="Nom-Filter" id="Nom-Filter" placeholder="Nom" [(ngModel)]="filtredName" (keyup)="filter()"></th>
        <th><input class="form-control" type="text" name="QNT-Filter" id="QNT-Filter" placeholder="QNT" [(ngModel)]="filtredQnt" (keyup)="filter()"></th>
        <th><input class="form-control" type="text" name="Depot-Filter" id="Depot-Filter" placeholder="Dépôt" [(ngModel)]="filtredDepot" (keyup)="filter()"></th>
        <th><input class="form-control" type="text" name="TVA-Filter" id="TVA-Filter" placeholder="TVA" [(ngModel)]="filtredTva" (keyup)="filter()"></th>
        <th><input class="form-control" type="text" name="PUH-Filter" id="PUH-Filter" placeholder="Prix de vend HT" [(ngModel)]="filtredPuh" (keyup)="filter()"></th>
        <th><input class="form-control" type="text" name="PUTTC-Filter" id="PUTTC-Filter" placeholder="Prix de vend HT"[(ngModel)]="filtredPuttc" (keyup)="filter()" ></th>
        <th><input class="form-control" type="text" name="PUAHT-Filter" id="PUAHT-Filter" placeholder="Prix d'achat HT"[(ngModel)]="filtredPaht" (keyup)="filter()"></th>
        <th><input class="form-control" type="text" name="PUATTC-Filter" id="PUATTC-Filter" placeholder="Prix d'achat TTC"[(ngModel)]="filtredPattc" (keyup)="filter()"></th>
        <th><button class="pointer btn btn-primary button-hover input" (click)="openAddDialog()">ajouter</button></th>
    
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filtredData" >
        <td><b>{{ item.id }}</b></td>
        <td><b>{{ item.NomProduct}}</b></td>
        <td><b>{{ item.Qnt }}</b></td>
        <td><b>{{ item.depot }}</b></td>
        <td><b>{{ item.TVA }}%</b></td>
        <td><b>{{ item.PrixVendHT}}&nbsp;DT</b></td>
        <td><b>{{ item.PrixVendTTC}}&nbsp;DT</b></td>
        <td><b>{{ item.PrixAchatHT}}&nbsp;DT</b></td>
        <td><b>{{ item.PrixAchatTTC}}&nbsp;DT</b></td>
        <td>
          <img src="assets/img/produits/{{item.img }}.png" alt="Image" onerror="this.onerror=null;this.src='assets/img/defaut.png';"width="100" height="100">
          <img src="" alt="" >
          <button class="pointer btn btn-warning input" type="button" (click)="openEditDialog(item)" >Modifier</button>
          <br><br>
          <button class="pointer btn btn-danger input" type="button" (click)="openDeleteDialog(item)">Suprimer</button>
        </td>
        
        
      </tr>
    </tbody>
  </table>
