<table class="table table-hover table-striped custom-table">
  <thead class="sticky-thead">
    <tr>
      <th *ngFor="let propriete of Proprietes">
        <input
        type="text" class="form-control"
          [name]="propriete + '-Filter'"
          [id]="propriete + '-Filter'"
          [placeholder]="propriete"
          [(ngModel)]="filtres[propriete]"
          (keyup)="filter()"
        />
      </th>
      <th>
        <button class="pointer btn btn-primary button-hover input" routerLink="">ajouter</button>
      </th>
    </tr>
  </thead>
  
    <tbody>
        <tr *ngFor="let objet of filtredData">
            <td *ngFor="let Propriete of Proprietes">{{ objet[Propriete] }}</td>


            <td>
                <button class="pointer btn btn-success input" type="button">Modifier</button>
                <button class="pointer btn btn-danger input" type="button">Suprimer</button>

            </td>


        </tr>
    </tbody>
</table>

